/01-Fundamentals-Part-1
/02-Fundamentals-Part-2
/03-Developer-Skills
/04-HTML-CSS
/06-Modal
/07-Pig-Game
/08-Behind-the-Scenes
/09-Data-Structures-Operators
/10-Functions
/11-Arrays-Bankist
/12-Numbers-Dates-Timers-Bankist
/13-Advanced-DOM-Bankist
/14-OOP
/15-Mapty
/16-Asynchronous
/17-Modern-JS-Modules-Tooling
/18-forkify
/2-JS-basics
/3-how-JS-works
/4-DOM-pig-game
/5-advanced-JS
/6-budgety
/7-ES6
/8-asynchronous-JS
/9-forkify
/99-bonus-1
/budgety-planning-guide.pdf
/editors-setup.md
/README.md
/slides-students-C03.pdf